<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Frequency Analysis Vigen&egrave;re Cipher</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    </head>

    <body>
        <h1>Frequency Analysis Vigen&egrave;re Cipher</h1>

        <div class="wrapper-horizontal w10">
            <div class="w5">
                <div class="p3 wrapper-vertical left">
                    <form id="decipherForm" class="left wrapper-vertical w10">
                        <label for="ciphertext">Ciphertext</label>
                        <textarea id="ciphertext" name="ciphertext" rows="5"></textarea>

                        <label for="keylength">Key Length (Leave blank to calculate best results)</label>
                        <input id="keylength" name="keylength" type="number">

                        <div class="wrapper-horizontal mb ">
                            <label for="auto">Automatically detect keylength&nbsp;</label>
                            <input type="checkbox" id="auto" name="auto" value="auto">
                        </div>

                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>

            <div class="right w5">
                <div class="left p3 wrapper-vertical">
                    <input id="exampleButton" type="submit" value="Try an Example">
                    <input id="clearButton" type="submit" value="Clear Form">
                </div>
            </div>
        </div>

        <div class="w10">
            <div id="loadingContainer" class="hidden wrapper-vertical p3">
                <h3>Loading...</h3>
            </div>
            <div id="resultContainer" class="hidden wrapper-vertical p3">
                <div class="wrapper-horizontal mb">
                    <b>Score:&nbsp;</b>
                    <span id="resultScore"></span>
                </div>
                <div class="wrapper-horizontal mb error">
                    <span id="resultNote"></span>
                </div>
                <div class="wrapper-horizontal mb">
                    <b>Key:&nbsp;</b>
                    <span id="resultKey"></span>
                </div>
                <b>Cracked Plaintext:</b>
                <span id="resultPlaintext"></span>
            </div>
            <div id="errorContainer" class="error hidden p3">
                <h3>Error:</h3>
                <span id="resultError"></span>
            </div>
        </div>

        <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
    </body>
</html>