* {
    margin: 0;
}

.wrapper-vertical {
    display: flex;
    flex-direction: column;
}

.wrapper-horizontal {
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-start;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.w10 {
    width: 100%;
}

.w5 {
    width: 50%
}

.w3 {
    width: 30%;
}

form > input,
form > textarea {
    margin-bottom: 1.5em;
    width: 100%;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

.p3 {
    padding: 30px;
}

.mb {
    margin-bottom: 7px;
}