.wrapper-vertical {
    display: flex;
    flex-direction: column;
}

.left {
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-start;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.w10 {
    width: 100%;
}

.w5 {
    width: 50%
}

.w3 {
    width: 30%;
}

form > input,
form > textarea {
    margin-bottom: 1.5em;
    width: 100%;
}